doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Portfolio – Federico Tejedor Llorente
        link(rel="stylesheet", href="styles/homepage.css")
    body
        #burger_menu_btn.burger_menu_btn
            img(src="img/burger_menu_btn.png")
        #burger_menu.burger_menu
            h3 Menu
            ul
                li
                    a(href="#") Portfolio
                li
                    a(href="#") About me
                li
                    a(href="#") Contact
            h4 Find me on
            ul
                li
                    a(href="#") GitHub
                li
                    a(href="#") Instagram
                li
                    a(href="#") LinkedIn
                li
                    a(href="#") Behance
            p Copyright Federico Tejedor Llorente &copy; 2021#[br]All rights reserved
            #burger_menu__close_btn.burger_menu__close_btn
                img(src="img/close_burger_menu_btn.png")
        header
            ul
                li
                    a(href="#") Portfolio
                li
                    a(href="#") About me
                li
                    a(href="#") Contact
        .mainTitle
            h2 Hey,#[br]I'm#[br]
                span Federico
        .tagline
            h1 Front-end Developer &amp; Web Designer