header
    .logo
        h2
            span Federico
            | #[br]Tejedor#[br]
            span Llorente
        h1 Front-end Developer &amp;#[br]Web Designer
    ul
        li
            a(href="portfolio.html") Portfolio
        li
            a(href="#") About me
        li
            a(href="#") Contact