header
    .logo
        h2
            a(href="index.html")
                span Federico
                | #[br]Tejedor#[br]
                span Llorente
        h1 Front-end Developer &amp;#[br]Web Designer
    ul
        li
            if currentPage == "Portfolio"
                a(href="portfolio.html").currentPage Portfolio
            else
                a(href="portfolio.html") Portfolio
        li
            if currentPage == "About me"
                a(href="#").currentPage About me
            else
                a(href="#") About me
        li
            if currentPage == "Contact"
                a(href="#").currentPage Contact
            else
                a(href="#") Contact