.project
    .project__image
        a(href="#")
            img(src="img/portfolio_project_photo.png")
    .project__content
        h2
            a(href="#") Project name
        p.project__content__description Web App – 2021
        .project__content__technologies
            h3 Technologies used
            ul
                li HTML
                li CSS
                li JavaScript
                li PHP
        .project__content__ux
            h3 UX Designed with
            ul
                li Adobe XD
        a(href="#") See entire project
.project
    .project__image
        a(href="#")
            img(src="img/portfolio_project_photo.png")
    .project__content
        h2
            a(href="#") Project name
        p.project__content__description Web App – 2021
        .project__content__technologies
            h3 Technologies used
            ul
                li HTML
                li CSS
                li JavaScript
                li PHP
        .project__content__ux
            h3 UX Designed with
            ul
                li Adobe XD
        a(href="#") See entire project
.project
    .project__image
        a(href="#")
            img(src="img/portfolio_project_photo.png")
    .project__content
        h2
            a(href="#") Project name
        p.project__content__description Web App – 2021
        .project__content__technologies
            h3 Technologies used
            ul
                li HTML
                li CSS
                li JavaScript
                li PHP
        .project__content__ux
            h3 UX Designed with
            ul
                li Adobe XD
        a(href="#") See entire project