
<div class="project">
  <div class="project__image"><img src="img/portfolio_project_photo.png"/></div>
  <div class="project__content">
    <h2>Project name</h2>
    <p class="project__content__description">Web App – 2021</p>
    <div class="project__content__technologies">
      <h3>Technologies used</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>PHP</li>
      </ul>
    </div>
    <div class="project__content__ux">
      <h3>UX Designed with</h3>
      <ul>
        <li>Adobe XD</li>
      </ul>
    </div><a>See entire project</a>
  </div>
</div>