// Colors
$primaryColor: #ff803b
$primaryColorWOpacity: #ff803b44 
$darkColor: #212121
$darkColorWOpacity: #2121213b
$altDarkColor: #000000
$midColor: #4d4d4d
$lightColor: #adadad
$altLightColor: #f1f1f1

// Fonts
$mainFontSize: 18px
$h1FontSize: 60px
$h2FontSize: 32px
$h3FontSize: 22px
$hugeFontSize: 150px
$mainFontFamily: "Poppins", sans-serif

// Reset default styles
*
    margin: 0
    padding: 0

body
    background-image: linear-gradient($darkColor, $altDarkColor)
    color: $lightColor
    font-family: $mainFontFamily
    font-size: $mainFontSize
    font-weight: 500
    a
        border-radius: 3px
        color: $primaryColor
        text-decoration: none
        transition: 0.2s
        &:hover
            background-color: $primaryColorWOpacity
            transition: 0.2s
            cursor: pointer
    h1
        font-size: $h1FontSize
        font-weight: 500
    h2
        font-size: $h2FontSize
        font-weight: 500
    h3, h4
        font-size: $h3FontSize
        font-weight: 500

// SVGs
.cls-1
    fill: none
    stroke: $lightColor
    stroke-width: 3px

.burger_menu_btn
    padding: 30px 25px
    margin: 0
    display: flex
    position: fixed
    bottom: 0
    right: 0
    z-index: 2
    background-color: $altDarkColor
    transition: 0.2s
    svg
        width: 30px
        .cls-1
            transition: 0.2s
    &:hover
        padding-right: 50px
        background-color: $darkColor
        box-shadow: 0 0 20px 10px $darkColorWOpacity
        cursor: pointer
        svg .cls-1
            stroke: $altLightColor

.burger_menu
    padding: 50px 25px
    width: 280px
    height: 100vh
    box-sizing: border-box
    position: fixed
    right: -320px
    z-index: 3
    background-color: $darkColor
    text-align: right
    box-shadow: 10px 0 20px 10px $darkColorWOpacity
    transition: 0.3s
    h2
        margin: 0 0 20px
        color: $midColor
    h3
        margin: 40px 0 20px
        color: $midColor
    ul li
        margin: 10px 0
        list-style: none
        a
            color: $lightColor
            &.currentPage
                color: $altLightColor
            &:hover
                background-color: initial
                color: $altLightColor
    p
        margin-top: 40px
        font-size: 15px
        color: $midColor
    &__close_btn
        padding: 30px 25px
        display: flex
        position: absolute
        bottom: 0
        right: 0
        z-index: 4
        transition: 0.2s
        &:hover
            cursor: pointer
            svg .cls-1
                stroke: $altLightColor
        svg
            width: 20px
            .cls-1
                transition: 0.2s
    &--showing
        right: 0