* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#212121, #000000);
  color: #adadad;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
body a {
  border-radius: 3px;
  color: #ff803b;
  text-decoration: none;
  transition: 0.2s;
}
body a:hover {
  background-color: #ff803b44;
  transition: 0.2s;
  cursor: pointer;
}
body h1 {
  font-size: 60px;
  font-weight: 500;
}
body h2 {
  font-size: 32px;
  font-weight: 500;
}
body h3, body h4 {
  font-size: 22px;
  font-weight: 500;
}

.cls-1 {
  fill: none;
  stroke: #adadad;
  stroke-width: 3px;
}

.burger_menu_btn {
  padding: 30px 25px;
  margin: 0;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: #000000;
  transition: 0.2s;
}
.burger_menu_btn svg {
  width: 30px;
}
.burger_menu_btn svg .cls-1 {
  transition: 0.2s;
}
.burger_menu_btn:hover {
  padding-right: 50px;
  background-color: #212121;
  box-shadow: 0 0 20px 10px #2121213b;
  cursor: pointer;
}
.burger_menu_btn:hover svg .cls-1 {
  stroke: #f1f1f1;
}

.burger_menu {
  padding: 50px 25px;
  width: 280px;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  right: -320px;
  z-index: 3;
  background-color: #212121;
  text-align: right;
  box-shadow: 10px 0 20px 10px #2121213b;
  transition: 0.3s;
}
.burger_menu h2 {
  margin: 0 0 20px;
  color: #4d4d4d;
}
.burger_menu h3 {
  margin: 40px 0 20px;
  color: #4d4d4d;
}
.burger_menu ul li {
  margin: 10px 0;
  list-style: none;
}
.burger_menu ul li a {
  color: #adadad;
}
.burger_menu ul li a.currentPage {
  color: #f1f1f1;
}
.burger_menu ul li a:hover {
  background-color: initial;
  color: #f1f1f1;
}
.burger_menu p {
  margin-top: 40px;
  font-size: 15px;
  color: #4d4d4d;
}
.burger_menu__close_btn {
  padding: 30px 25px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  transition: 0.2s;
}
.burger_menu__close_btn:hover {
  cursor: pointer;
}
.burger_menu__close_btn:hover svg .cls-1 {
  stroke: #f1f1f1;
}
.burger_menu__close_btn svg {
  width: 20px;
}
.burger_menu__close_btn svg .cls-1 {
  transition: 0.2s;
}
.burger_menu--showing {
  right: 0;
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }

  .burger_menu {
    padding: 25px;
  }
  .burger_menu h2 {
    margin: 0 0 10px;
  }
  .burger_menu h3 {
    margin: 20px 0 10px;
  }
  .burger_menu p {
    margin-top: 20px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo h2 {
  line-height: 32px;
  margin-right: 50px;
}
header .logo h2 a {
  color: #adadad;
  background-color: initial;
}
header .logo h2 span {
  color: #ff803b;
}
header .logo h1 {
  font-size: 18px;
}
header ul {
  display: flex;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
  transition: 0.2s;
}
header ul li:hover {
  transform: translate(0, -3px);
}
header ul li a {
  color: #adadad;
}
header ul li a.currentPage {
  color: #f1f1f1;
}
header ul li a:hover {
  color: #f1f1f1;
  background-color: initial;
}

.wrapper__content {
  margin: 0 100px 100px;
}
.wrapper__content h1 {
  margin-left: -10px;
  font-size: 150px;
}
.wrapper__content > p {
  margin-bottom: 100px;
}

.project {
  margin-bottom: 50px;
  display: flex;
}
.project__image {
  width: 400px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.project__image a img {
  width: 400px;
  height: auto;
  position: absolute;
  transition: 0.2s;
  top: 0;
  left: 0;
}
.project__image a img:hover {
  width: 500px;
  top: -50px;
  left: -50px;
}
.project__image a:hover {
  background-color: initial;
}
.project__content {
  padding: 0 0 0 50px;
}
.project__content h2 {
  font-size: 60px;
}
.project__content h2 a {
  color: #adadad;
}
.project__content h2 a:hover {
  background-color: initial;
  color: #f1f1f1;
}
.project__content h3 {
  color: #4d4d4d;
}
.project__content ul li {
  list-style: none;
}
.project__content__technologies {
  padding: 20px 0 0;
}
.project__content__ux {
  padding: 20px 0 20px;
}